<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{profile.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1 th:text="#{profile.yourProfile}"></h1>
    <span th:text="${spitter.username}"></span><br/>
    <span th:text="${spitter.firstName}"></span> <span th:text="${spitter.lastName}"></span><br/>
    <span th:text="${spitter.email}"></span>
</div>

<div id="footer" th:include="page :: copy" class="footer"></div>
</body>
</html>