<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{common.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1 th:text="#{register.register}"></h1>

    <form method="POST" th:object="${spitterForm}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <label th:class="${#fields.hasErrors('firstName')}? 'error'" th:text="#{register.firstName}"></label>:
        <input type="text" th:field="*{firstName}"
               th:class="${#fields.hasErrors('firstName')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('lastName')}? 'error'" th:text="#{register.lastName}"></label>:
        <input type="text" th:field="*{lastName}"
               th:class="${#fields.hasErrors('lastName')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('email')}? 'error'" th:text="#{register.email}"></label>:
        <input type="text" th:field="*{email}"
               th:class="${#fields.hasErrors('email')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('username')}? 'error'" th:text="#{register.username}"></label>:
        <input type="text" th:field="*{username}"
               th:class="${#fields.hasErrors('username')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('password')}? 'error'" th:text="#{register.password}"></label>:
        <input type="password" th:field="*{password}"
               th:class="${#fields.hasErrors('password')}? 'error'" /><br/>

        <input type="submit" th:value="#{register.register}" />
    </form>
</div>

<div id="footer" th:include="page :: copy" class="footer"></div>
</body>
</html>