body {
    background: #FFFFFF;
    color: #07214a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    margin: 0 1px;
}

.spittles__list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.spittles__list ul li:first-child {
    border-top: 0;
}

.spittles__list ul li {
    border-top: 1px solid #cc0500;
    list-style-position: inside;
}

.spittle__time--font {
    font-size: 0.75em;
}

.spittle__location--font {
    font-size: 0.75em;
}

form * {
    margin: 0.5%;
}

.logo {
    height: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d6d6d6;
    text-align: center;
    padding: 3px;
}

/*-------------------------for layout-----------------------------------*/
#content {
    padding-bottom: 26px;
}

/*-------------------------errors---------------------------------------*/

span.error {
    color: red;
}

div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

.errors ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.errors__not-found--color {
    color: darkred;
}